* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Arial";
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  padding: 25px 5%;
  margin: 0;
}

img {
  width: 100%;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 3vh 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  border-bottom: 1px solid #000000;
  width: 100%;
  transition: background-color 0.05s ease-in-out;
}

/*Animation before Scrolling*/
.logo {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
#logo2{
  color: green;
}

/*Animation on Scrolling*/

header.scrolled {
  background: black;
  color: white; 
}

.logo.scrolled{
  color: green;
  transition: background-color 0.05s ease-in-out;
}

#logo2.scrolled{
  color: white;
  transition: background-color 0.05s ease-in-out;
}



/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  gap: 1rem;
}
.navbar a {
  margin-left: 15px;
  color: black;
  padding: 8px 14px;
  border-radius: 4px;
  transition: all .1s ease;
}

/* Navigation bar scrolling */

.navbar a.scrolled {
  color: white;
}

/* banner styling */
.banner {
  margin-top: 0px;
  background-color: black;
  min-height: 80vh;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: end;
  background-blend-mode: overlay;
  object-fit: cover;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 80px 5%;
}

#Home{
  padding: 0px;
  margin-bottom: 0px 0;
}

.banner-content {
  width:45%;
}

.home-image {
  margin-top: 2%;
  width: 400px;
  margin-left: 15%; 
  padding: 30px; 
}

.banner-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

.banner-content p {
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  line-height: 1.5;
  font-size: 1.3rem;
}

@media only screen and (max-width: 1175px) {
  .home-image {
    display: none;
  }
  .banner-content {
    width: 100%;
    text-align: center;
  }
  .banner-content h1, .banner-content p {
    text-align: center;
  }
}

#searchbar {
  padding: 25px 5%; 
  background-color: #000000;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  border-color: #000;
  min-height: 20vh;
}

#searchbar div {
  display: flex; 
  flex: 1; 
  border-color: #000;
}

.search-container {
  padding: 0.4rem; 
  font-size: 1rem; 
  border: none;
  border-radius: 0.8rem;
  border-color: #000;
  flex: 1; 
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.8rem;
  background-color: green;
  cursor: pointer;
  margin-left: 10px;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  color:#fff;
}


/* Quick Read */

.title {
  color: black;
  margin: 40px 0;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.blog-card {
  width: 25%;
}

.blog-card img {
  border-radius: 8px;
  height: 200px;
  margin-bottom: 12px;
}

.btn-outline{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.8rem;
  background-color: white;
  cursor: pointer;
  margin-left: 10px;
}


/* footer */
footer {
    background: rgb(245, 255, 243);
    padding: 48px 0;
  }
  .footer-container {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
  }
  .company-info a {
    height: 30px;
    margin-bottom: 24px;
    font-weight:bolder;
  }
  .company-info p {
    margin: 15px 0;
    width: 300px;
    font-weight:bolder;
  }
  



@media screen and (max-width: 576px) {
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 88vh;
        background: #E1DEFD;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 30px;
        transition: all 0.45s ease;
      }

      .navbar a {
        display: block;
      }
      .navbar.open {
        right: 0;
      }

  .banner-content {
    width: 100%;
  }

  .banner-content h1 {
    font-size: 2rem;
  }
    /* footer */
    .footer-container{
        flex-direction: column;
        background-color: #000;
      }
      .web-pages{
        flex-wrap: wrap;
        margin-top: 48px;
      }
}


@media only screen and (min-width: 577px) and (max-width: 788px){
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 88vh;
    background: #E1DEFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30px;
    transition: 0.45s ease;
  }
  .navbar a {
    display: block;
  }
  .navbar.open {
    right: 0;
  }

.banner-content{
  width: 100%;
}
  .web-pages{
    margin-top: 48px;
  }

}