
      
body {
    background: black;
    }   
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }    
    .rectangle {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        width: 450px;
        height: 600px;
        background-color: white;
        border-radius: 60px;
        font-family: 'Franklin Gothic Medium';   
        font-size:small bold;
        opacity: 0.9;
    }
 
    .button2  {
        margin: 10px;
        margin-top: 20px;
        background-color: #4CAF50;
        color: #ffffff;
        border: 1px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
    } 
    
    input[type="text"], input[type="password"] {
        width: 300px;
        height: 25px;
        padding: 15px;
        justify-content: center;
        background: #dddddd;
        border-radius: 10px;
        border: 2px solid rgb(0, 0, 0);   
        font-family: Poppins-Medium;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 10px;
        
    }
#z{
    margin-top: 100px;
}